<div class="mb-6 flex items-center gap-4">
  <label class="text-sm font-medium">Sort by:</label>
  <ng-container *ngIf="queryParams$ | async as queryParams">
    <button
      [attr.data-spec]="'sort-' + field + '-button'"
      *ngFor="let field of sortFields"
      [class.bg-blue-500]="queryParams.sortBy === field"
      [class.bg-gray-300]="queryParams.sortBy !== field"
      class="px-4 py-2 text-white rounded-lg hover:bg-blue-600"
      (click)="applySort(field)"
    >
      {{ field | titlecase }}

      <span *ngIf="queryParams.sortBy === field">
        {{ queryParams.sortDirection === "asc" ? "↑" : "↓" }}
      </span>
    </button>
  </ng-container>
</div>
