<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Product Management</h1>
  <div class="flex justify-between items-center mb-4">
    <button
      data-spec="open-create-product-button"
      class="bg-blue-500 text-white px-4 py-2 rounded-lg"
      (click)="openAddProductModal()"
    >
      Add Product
    </button>
  </div>

  <app-product-filter></app-product-filter>

  <app-product-sort></app-product-sort>

  <app-product-list [products]="(products$ | async)!"></app-product-list>

  <app-pagination
    [itemsPerPage]="(queryParams$ | async)?.perPage!"
    [totalPages]="(totalPage$ | async)!"
    [currentPage]="(queryParams$ | async)?.page!"
    (pageChange)="changePage($event)"
    (limitChange)="changeLimit($event)"
    [limitOptions]="limitOptions"
  ></app-pagination>

  <app-add-product-modal
    *ngIf="showAddModal$ | async"
    (onClose)="closeAddProductModal()"
  ></app-add-product-modal>
</div>
